= form_for @tag do |f|
  -if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :item_ids, 'Items'
    = f.select :item_ids, Item.all.map{ |t| [t.name, t.id] }, {}, multiple: true
  .actions
    = f.submit 'Save'
