%h1 Listing tags

%table
  %tr
    %th Name
    %th Description
    %th

  %tr
    %td= link_to 'All items', items_path
    %td
    %td

  - @tags.each do |tag|
    %tr
      %td= link_to tag.name, tag
      %td= tag.description
      %td= link_to 'Edit', edit_tag_path(tag)

.links
  = link_to 'New Tag', new_tag_path
