%table
  %tr
    %th
    %th Name
    %th Description
    %th Location
    %th Tags
    %th

  - items.each do |item|
    %tr
      %td= booking_checkbox(booking_form, item) if defined? booking_form
      %td= link_to item.name, item
      %td= item.description
      %td= link_to item.full_location, item_location_path(item)
      %td= raw item.tags.map{|t| link_to t.name, t}.join(', ')
      %td= link_to 'Edit', edit_item_path(item) if can? :update, item

