%h1 Listing items

%table
  %tr
    %th Name
    %th Description
    %th Location
    %th Tags
    %th

  - @items.each do |item|
    %tr
      %td= link_to item.name, item
      %td= item.description
      %td= item.full_location
      %td= raw item.tags.map{|t| link_to t.name, t}.join(', ')
      %td= link_to 'Edit', edit_item_path(item)

%br

= link_to 'New Item', new_item_path
