- content_for :title do
  =@tag ? @tag.name : 'All'
  items

= search_form_for @q, :class => 'search' do |f|
  %fieldset
    %legend
      Search
    = f.text_field :name_or_description_cont, :size => 20
    - if !@tag
      = f.label 'Tag:'
      = f.collection_select :tags_id_eq, Tag.all, :id, :name, :include_blank => true
    = f.label 'Location:'
    = f.collection_select :room_id_eq, Room.all, :id, :name, :include_blank => true
    = f.text_field :location_cont, :size => 4
    = f.submit

= form_for @booking do |f|
  = hidden_field_tag 'return_url', url_for()
  = render image_index? ? 'items/image_index' : 'items/text_index', :booking_form => f

  = f.submit 'Add to booking'
  %p
    You have
    = @booking.items.count
    items selected

- content_for :links do
  = link_to 'New Item', new_item_path if can? :create, Item

-content_for :title_links do
  = link_to 'Show as grid', url_for(:style => :grid) if !image_index?
  = link_to 'Show as list', url_for(:style => :list) if image_index?
