- content_for :title do
  Listing items

%table
  %tr
    %th Name
    %th Description
    %th Location
    %th Tags
    %th

  - @items.each do |item|
    %tr
      %td= link_to item.name, item
      %td= item.description
      %td= link_to item.full_location, item_location_path(item)
      %td= raw item.tags.map{|t| link_to t.name, t}.join(', ')
      %td= link_to 'Edit', edit_item_path(item) if can? :update, item

- content_for :links do
  = link_to 'New Item', new_item_path if can? :create, Item
