%h1 Listing items

%table
  %tr
    %th Name
    %th Description
    %th Location
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.description
      %td= item.location
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)

%br

= link_to 'New Item', new_item_path
