%p
  %b Name:
  = @item.name
%p
  %b Description:
  = @item.description
%p
  %b Location:
  = link_to @item.full_location, item_location_path(@item)
%p
  %b Tags
  = @item.tags.map(&:name).join(', ')
%p
  = image_link @item, :store
  = image_link @item, :usage

.links
  = link_to 'Edit', edit_item_path(@item)
  \|
  = link_to 'List', items_path

.links
  = link_to 'New Item', new_item_path
