%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Description:
  = @item.description
%p
  %b Location:
  = @item.location
%p
  = image_tag image_item_path(@item, :type => :store, :size => :thumb) if @item.store_image?
  = image_tag image_item_path(@item, :type => :usage, :size => :thumb) if @item.usage_image?

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
\|
= link_to 'New Item', new_item_path
