- content_for :title do
  = @item.name
  location

#location_page{:class => can?(:update, @item) ? 'editable' : ''}
  %strong= @room.name

  = form_for @item do |f|
    = f.text_field :location
    = text_field_tag :location, {}, :readonly => true
    = select_tag :shelf, options_for_select([1])

    .actions
      = f.submit 'Save'

  = raw @room.plan
