- content_for :title do
  = @room.name

#location_edit
  = raw @room.plan

  = form_for @item do |f|
    = f.text_field :location
    = text_field_tag :location, {}, :readonly => true
    = select_tag :shelf, options_for_select([1])

    .actions
      = f.submit 'Save'

