!!!
%html
  %head
    %title Inventory
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    %h1= yield :title

    #content
      #flash
        - flash.each do |type, text|
          %p{:class => type}= text

      = yield

    .links
      = link_to 'Home', root_url
      = yield :links
      = link_to 'Login', '/users/sign_in' if !user_signed_in? && !devise_controller?
      = link_to 'Logout', '/users/sign_out', :method => :delete if user_signed_in?
    
